 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome to Dong Li's blog. I am a Full Stack Software Developer currently working in General Electric located in San Ramon, CA. </p>
                </div>
                <div class="col-lg-4">
                    <p>This website contains some projects I have been working with and some articles I used to summarize the knowledge I have learned. Feel free to contact me for anything you find interesting :)
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-4">
                    <img class="img-responsive" src="img/banana.png" alt="" height="112" width="184">
                    <img class="img-responsive" src="img/SleepingBabyMilo_Icon.png" alt="" height="112" width="184">
                </div>
            </div>
        </div>
    </section>